services:
  postgres:
    image: postgres:latest
    container_name: postgres
    environment:
      POSTGRES_USER: splitty
      POSTGRES_PASSWORD: splitty
      POSTGRES_DB: splitty
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - postgres_network

  api:
    build:
      context: ./Splitty-API
      dockerfile: Splitty.API/Dockerfile
    container_name: splitty-api
    ports:
      - '8080:8080'
    depends_on:
      - postgres
    networks:
      - postgres_network

volumes:
  postgres_data:

networks:
  postgres_network:
    driver: bridge
